<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(About)}"></div>
<div th:replace="~{banner_modules :: banner}"></div>
<section class="new-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>О нас</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <ul class="breadcrumbs" >
                <li><a th:href="@{/}">Главная</a></li>
                <li>О нас</li>
            </ul>
            <br>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>
                    <h1>В компания «ИМПЕРИЯ», которая специализируется на изготовлении качественного крепежа и метизной продукции,<br></h1>
                    <h1> установлены современные высокотехнологичные станки и машины.<br></h1>
                    <h1>Парк станков непрерывно модернизируется, что позволяет нам выпускать продукцию в соответствии с актуальными стандартами, принятыми в металлообработке.<br></h1>
                    <h1>На производстве существуют все условия для выполнения любого заказа в кратчайшие сроки по выгодной для клиента цене.<br></h1>
                </span>

                <img class="obr" src="images/oborud/1.jpeg">
                <img class="obr" src="images/oborud/2.jpg">
            </div>
        </div>
    </div>
</section>
<div th:replace="~{js_modules :: js}"/>
<div th:replace="~{footer_modules :: footer}"></div>
<script src="../js/main.js"></script>

</html>