<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
    <div th:replace="~{js_modules :: js}"/>
</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(About)}"></div>
<div th:replace="~{banner_modules :: banner}"></div>
<section class="new-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>О нас</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <ul class="breadcrumbs" >
                <li><a th:href="@{/}">Главная</a></li>
                <li>О нас</li>
            </ul>
            <br>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>
                       <h1> ООО «ИМПЕРИЯ» является динамично развивающейся производственно-торговой компанией по продаже широкого ассортимента крепёжной продукции. <br></h1>
                       <h1> Успешно ведём свою деятельность на рынке РФ и стран СНГ с 2020 года. <br></h1>
                       <h1> Наша команда состоит из квалифицированных специалистов на разных уровнях, которые имеют большой опыт как в продажах, так и в производстве.<br></h1>
                       <h1>ООО «ИМПЕРИЯ» - надежный партнёр для Вашего бизнеса.</h1>

                    <h1>ООО «ИМПЕРИЯ» сотрудничает напрямую более, чем со 100 заводами-изготовителями метизной, <br>
                        абразивной продукции и оборудования, <br>
                        работающими в России, Белоруссии, на Украине, а также в странах Юго-Восточной Азии.</h1>

                </span>



            </div>
        </div>
    </div>
</section>
<div th:replace="~{js_modules :: js}"/>
<div th:replace="~{footer_modules :: footer}"></div>
<script src="../js/main.js"></script>

</html>