<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
    <div th:replace="~{js_modules :: js}"/>
</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(Catalog)}"></div>
<!--<div th:replace="~{development :: development}"></div>-->
<section class="new-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>КАТАЛОГ ПРОДУКЦИИ</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <ul class="breadcrumbs" >
                <li><a th:href="@{/}">Главная</a></li>
                <li>Каталог</li>
            </ul>
            <br>
        </div>
        <div th:replace="~{catalog_modules :: catalog_modules}"></div>
        <!-- <div class="row">
            
        </div> -->
        <h3>Каталог пополняется ежедневно!</h3>
        <h3>Если Вы не нашли интересующий Вас товар на нашем сайте, это совсем не значит, что мы не сможем его предоставить.
             Просто позвоните нам, или отправьте запрос через форму на сайте, либо напишите нам в e-mail.
              Мы обязательно постараемся Вам помочь и ответить максимально быстро, с указанием цены и сроков поставки необходимых Вам товаров.</h3>
    </div>
</section>

<div th:replace="~{footer_modules :: footer}"></div>


</html>