<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="catalog_modules">
    <div class="catalog wow fadeInUp" data-wow-delay="0.1s">
        <div class="product-view-wrap" th:each="category: ${category}" >
            <div class="product-view-item">
                <img th:src="${category.img}" th:alt="${category.name}">
                <div class="product-view-buttons">
                    <a th:href="@{'/showSubcategory/'} + ${category.id}" class="button-view">Подробнее</a>
                </div>
            </div>
            <div class="product-view-title">
                <a th:href="@{'/showSubcategory/'} + ${category.id}" th:text="${category.name}"></a>
    <!--            <span class="product-view-price">₽ 1999</span>-->
            </div>
        </div>

        <h3>Мы производим крепеж различных типов и размеров, из различных видов конструкционных, легированных,
            и нержавеющих сталей и сплавов: ст.3, ст.35, ст.40, ст.40х, ст.09г2с, 25Х1МФ, 20ХН3А, 20Х13, 12Х18Н10Т, 14Х17Н2, 30ХМА, 10Х17Н13М2Т, а так-же из других сплавов.</h3> <br>

        <h1>Чтобы рассчитать стоимость болтов шестигранных,<br> отправьте заявку на общую почту sales@imperiya-metizov.ru.<br>
            Обязательно укажите следующие параметры: ГОСТ либо другой стандарт(чертеж), количество необходимых изделий, материал, покрытие, другие технические требования (Шаг резьбы, класс прочности и тд.)
            Менеджер свяжется с вами для уточнения деталей заказа.</h1>
    </div>
</div>


</html>