<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
    <div th:replace="~{js_modules :: js}"/>
</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(Contact)}"></div>
<div th:replace="~{banner_modules :: banner}"></div>


<section class="new-section">
    <div class="container">
        <div class="row">
            <div class="contact-info">
                <h1>
                    <p><b>Адрес: </b> Свердловская область, г. Екатеринбург, ул. Бажова, д. 68</p>
                    <p><b>Телефон: </b> 8-932-601-5-888</p>
                    <p><b>Email: </b> imperiya-metizob@yandex.ru</p>
                </h1>
            </div>

            <br>
            <div class="col-md-12">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6d6bb7cf52c89d372fa271cf9fec4f8cfb2b10db45fe0c652717caada0911ddc&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{footer_modules :: footer}"></div>

</html>