<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
    <div th:replace="~{js_modules :: js}"/>
</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(Delivery)}"></div>
<div th:replace="~{banner_modules :: banner}"></div>
<section class="new-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>Доставка</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <ul class="breadcrumbs" >
                <li><a th:href="@{/}">Главная</a></li>
                <li>Доставка</li>
            </ul>
            <br>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>
                    <h1>Мы осуществляем доставку заказанной Вами продукции как по г.Екатеринбургу,так и в любую точку России и стран СНГ!</h1>
                    <h1>
                        Возможность и стоимость доставки предварительно оговаривается с нашими менеджерами.<br>
                    </h1>
                    <h1>
                        Возможна бесплатная доставка по г.Екатеринбургу.<br>
                    </h1>
                    <h1>
                        Возможна бесплатная доставка до транспортных компаний.<br>
                    </h1>
                    <h1>
                        Вы можете забрать свой заказ со склада в г.Екатеринбург<br>
                    </h1>
                </span>
            </div>
        </div>
    </div>
</section>




<div th:replace="~{footer_modules :: footer}"></div>

</html>