<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
    <title>Доставка Империя Метизов</title>
    <meta name="description" content="
            Производство фундаментных болтов ГОСТ 24379.1-2012, ГОСТ 9066-75 ШПИЛЬКИ ДЛЯ ФЛАНЦЕВЫХ СОЕДИНЕНИЙ,
            ГОСТ 22037-76 ШПИЛЬКИ С ВВИНЧИВАЕМЫМ КОНЦОМ, ГОСТ 22038-76, ГОСТ 22039-76, ГОСТ 22040-76, ГОСТ 22041-76,
            ГОСТ 22042-76, ГОСТ 22043-76, ГОСТ 5915-70 ГАЙКИ ШЕСТИГРАННЫЕ,ГОСТ 9064-75 ГАЙКИ ДЛЯ ФЛАНЦЕВЫХ СОЕДИНЕНИЙ,
            ГОСТ 10605-94 ГАЙКИ ШЕСТИГРАННЫЕ, ГОСТ 5916-70 ГАЙКИ ШЕСТИГРАННЫЕ НИЗКИЕ, 7798-70 БОЛТЫ, 7805 БОЛТЫ, ГОСТ Р 52644-2006,
            7808-70 БОЛТЫ,7796-70 БОЛТЫ, ШАЙБА ГОСТ 11371-78, ШАЙБА УВЕЛИЧЕННАЯ ГОСТ 6958-78,ШАЙБА ФЛАНЦЕВАЯ ГОСТ 9065-75,
            ШАЙБА АНКЕРНАЯ (ФУНДАМЕНТНАЯ) ГОСТ 24379.1-2012, ПЛИТА АНКЕРНАЯ (ФУНДАМЕНТНАЯ) ГОСТ 24379.1-2012
        ">
</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(Delivery)}"></div>
<div th:replace="~{banner_modules :: banner}"></div>
<section class="new-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>Доставка</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <ul class="breadcrumbs" >
                <li><a th:href="@{/}">Главная</a></li>
                <li>Доставка</li>
            </ul>
            <br>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>
                    <h1>Мы осуществляем доставку заказанной Вами продукции как по г.Екатеринбургу,так и в любую точку России и стран СНГ!</h1>
                    <h1>
                        Возможность и стоимость доставки предварительно оговаривается с нашими менеджерами.<br>
                    </h1>
                    <h1>
                        Возможна бесплатная доставка по г.Екатеринбургу.<br>
                    </h1>
                    <h1>
                        Возможна бесплатная доставка до транспортных компаний.<br>
                    </h1>
                    <h1>
                        Вы можете забрать свой заказ со склада в г.Екатеринбург<br>
                    </h1>
                </span>
            </div>
        </div>
    </div>
</section>




<div th:replace="~{footer_modules :: footer}"></div>
<script src="../js/main.js"></script>
</html>