<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer">
        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="titie-section wow fadeInDown animated ">
                            <h1>КОНТАКТЫ</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft animated">
                        <div class="left-content">
                            <h1>Империя Метизов</h1>
                            <h3>ООО «ОЛИМП ТРЭЙД» - надежный партнёр для Вашего бизнеса.</h3>
                            <div class="contact-info">
                                <h1>
                                    <p><b>Адрес: </b> Свердловская область, г. Екатеринбург, ул. Бажова, д. 68</p>
                                    <p><b>Телефон: </b> 8-343-206-88-87</p>
                                    <p><b>Email: </b>  info@imperiya-metizov.ru </p>
                                    <p><b>Отдел продаж: </b>  sales@imperiya-metizov.ru </p>
                                    <p><b>Отдел снабжения: </b>  otms@imperiya-metizov.ru </p>

                                </h1>
                            </div>
<!--                            <div class="social-media">-->
<!--                                <ul>-->
<!--                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight animated">

                        <form  th:action="@{/footer}"  th:object="${greeting}" method="POST" class="contact-form" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input id="name" type="text" class="form-control" th:field="*{name}" placeholder="Ваше имя *" minlength="2" maxlength="25">
                                        <span class="error name" aria-live="polite"></span>
                                    </div>
                                </div>
                            </div><div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input id="mail" type="email" class="form-control" th:field="*{email}"  placeholder="Ваше email *">
                                        <span class="error email" aria-live="polite"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input id="number" type="number" class="form-control" th:field="*{number}" placeholder="Ваш номер"  minlength="11" maxlength="11">
                                        <span class="error number" aria-live="polite"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <textarea th:field="*{content}" name="content" class="form-control" cols="30" rows="5" placeholder="Сообщение"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input id="btn-submit" type="submit" class="contact-submit" value="Отправить" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="center">© "ОЛИМП ТРЭЙД" Копирование информации сайта разрешено только с письменного согласия администрации <a th:href="@{/privacy-policy}" target="_blank">Политика конфиденциальности</a>. </p>
                    </div>
                </div>
            </div>

            <!-- Yandex.Metrika counter -->
            <script type="text/javascript" >
               (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
               m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
               (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

               ym(60921514, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
               });
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/60921514" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
        </footer>
        <script src="../js/main.js"></script>
    </div>
</html>