<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
    <div th:replace="~{js_modules :: js}"/>
</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(Contact)}"></div>
<div th:replace="~{banner :: banner}"></div>
    <p th:text="'name: ' + ${greeting.name}" />
    <p th:text="'email: ' + ${greeting.number}" />
    <a href="/greeting">Submit another message</a>
<div th:replace="~{footer_modules :: footer}"></div>


<h1>contact</h1>

</html>