<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Метизная продукция, производство крепежа, Россия, Казахстан, Крым</title>
    <meta name="description" content="анкерный болт, болт, гайки, шайбы, винты, заклепки, производство крепежаб производство метизной продукции ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="6b78e34b5bbacea2" />
    <link rel="icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="/css/style.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
</div>
</html>