<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
    <head>
        <div th:replace="~{head_modules::head}"></div>
        <title> Империя Метизов Производство крепежа и метизной продукции, Россия, Казахстан, Крым</title>
        <meta name="description" content="
            Производство фундаментных болтов ГОСТ 24379.1-2012, ГОСТ 9066-75 ШПИЛЬКИ ДЛЯ ФЛАНЦЕВЫХ СОЕДИНЕНИЙ,
            ГОСТ 22037-76 ШПИЛЬКИ С ВВИНЧИВАЕМЫМ КОНЦОМ, ГОСТ 22038-76, ГОСТ 22039-76, ГОСТ 22040-76, ГОСТ 22041-76,
            ГОСТ 22042-76, ГОСТ 22043-76, ГОСТ 5915-70 ГАЙКИ ШЕСТИГРАННЫЕ,ГОСТ 9064-75 ГАЙКИ ДЛЯ ФЛАНЦЕВЫХ СОЕДИНЕНИЙ,
            ГОСТ 10605-94 ГАЙКИ ШЕСТИГРАННЫЕ, ГОСТ 5916-70 ГАЙКИ ШЕСТИГРАННЫЕ НИЗКИЕ, 7798-70 БОЛТЫ, 7805 БОЛТЫ, ГОСТ Р 52644-2006,
            7808-70 БОЛТЫ,7796-70 БОЛТЫ, ШАЙБА ГОСТ 11371-78, ШАЙБА УВЕЛИЧЕННАЯ ГОСТ 6958-78,ШАЙБА ФЛАНЦЕВАЯ ГОСТ 9065-75,
            ШАЙБА АНКЕРНАЯ (ФУНДАМЕНТНАЯ) ГОСТ 24379.1-2012, ПЛИТА АНКЕРНАЯ (ФУНДАМЕНТНАЯ) ГОСТ 24379.1-2012">
    </head>
    <body>

    <div th:replace="~{header_top_section::header_top_section}"></div>
    <div th:replace="~{navigation_modules::navigation(Home)}"></div>

        <section class="search-section">
            <div class="container">
                <div class="row subscribe-from">
                    <div class="col-md-12">
                        <form class="form-inline col-md-12 wow fadeInDown animated">
                            <div class="form-group">
                                <input type="email" class="form-control subscribe" id="email" placeholder="Search...">
                                <button class="suscribe-btn" ><i class="pe-7s-search"></i></button>
                            </div>
                        </form><!-- end /. form -->
                    </div>
                </div><!-- end of/. row -->
            </div><!-- end of /.container -->
        </section><!-- end of /.news letter section -->

        <section class="slider-section">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators slider-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../images/slider.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/slider2.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item ">
                        <img src="../images/slider3.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="pe-7s-angle-left glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="pe-7s-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </section>

        <section class="service-section">
            <div class="container">
                <div class="row row-footer">
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" data-wow-delay="0.1s">
                        <div class="service-item">
                            <i class="pe-7s-plugin"></i>
                            <h3>Собственное производство</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" data-wow-delay="0.1s">
                        <div class="service-item">
                            <i class="pe-7s-wristwatch"></i>
                            <h3>Короткие сроки изготовления продукции</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" data-wow-delay="0.1s">
                        <div class="service-item">
                            <i class="pe-7s-map-2"></i>
                            <h3>Доставка в любую точку РОССИИ</h3>
                            </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" data-wow-delay="0.1s">
                        <div class="service-item">
                            <i class="pe-7s-cash"></i>
                            <h3>Гибкая ценовая позиция</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="new-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titie-section wow fadeInDown animated ">
                        <h1>КАТАЛОГ ПРОДУКЦИИ</h1>
                    </div>
                </div>
            </div>


        <div th:replace="~{catalog_modules :: catalog_modules}"></div>

        </div>
    </section>



    <div th:replace="~{footer_modules :: footer}"/>
    <div th:replace="~{js_modules :: js}"/>
    <script src="../js/main.js"></script>


    </body>
</html>
