<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
    <head>
        <div th:replace="~{head_modules::head}"></div>
        <link  rel="icon" href="images/favicon.png" type="image/png">
    </head>
    <body>

    <div th:replace="~{header_top_section::header_top_section}"></div>
    <div th:replace="~{navigation_modules::navigation(Home)}"></div>




        <section class="search-section">
            <div class="container">
                <div class="row subscribe-from">
                    <div class="col-md-12">
                        <form class="form-inline col-md-12 wow fadeInDown animated">
                            <div class="form-group">
                                <input type="email" class="form-control subscribe" id="email" placeholder="Search...">
                                <button class="suscribe-btn" ><i class="pe-7s-search"></i></button>
                            </div>
                        </form><!-- end /. form -->
                    </div>
                </div><!-- end of/. row -->
            </div><!-- end of /.container -->
        </section><!-- end of /.news letter section -->

        <section class="slider-section">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators slider-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../images/slider.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
<!--                            <h2>DRESSES <b>&</b> JEANS</h2>-->
<!--                            <h3>FROM OURFAMOUS BRANDS <Span>SALE</Span></h3>-->
<!--                            <a href="#">Buy Now</a>-->
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/slider2.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
<!--                            <h2>DRESSES <b>&</b> JEANS</h2>-->
<!--                            <h3>FROM OURFAMOUS BRANDS <Span>SALE</Span></h3>-->
<!--                            <a href="#">Buy Now</a>-->
                        </div>
                    </div>
                    <div class="item ">
                        <img src="../images/slider3.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
<!--                            <h2>DRESSES <b>&</b> JEANS</h2>-->
<!--                            <h3>FROM OURFAMOUS BRANDS <Span>SALE</Span></h3>-->
<!--                            <a href="#">Buy Now</a>-->
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="pe-7s-angle-left glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="pe-7s-angle-right glyphicon-chevron-right" aria-hidden="true"></span>



                </a>
            </div>
        </section>

        <section class="service-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" data-wow-delay="0.1s">
                        <div class="service-item">
                            <i class="pe-7s-box2"></i>
                            <h3> более 2 000 тонн в г. Екатеринбург</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" data-wow-delay="0.2s">
                        <div class="service-item">
                            <i class="pe-7s-cash"></i>
                            <h3>Лучшая цена на продукцию в УрФО</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" data-wow-delay="0.3s">
                        <div class="service-item">
                            <i class="pe-7s-map-2"></i>
                            <h3>Доставка - по городу и области - своими машинами.
                            </h3>
                            </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" data-wow-delay="0.4s">
                        <div class="service-item">
                            <i class="pe-7s-headphones"></i>
                            <h3>ЛИЧНЫЙ МЕНЕДЖЕРДЛЯ РЕШЕНИЯ ВАШИХ ВОПРОСОВ</h3>
                             </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="new-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titie-section wow fadeInDown animated ">
                        <h1>КАТАЛОГ ПРОДУКЦИИ</h1>
                    </div>
                </div>
            </div>

        <div th:replace="~{catalog_modules :: catalog_modules}"></div>

        </div>
    </section>


        <div th:replace="~{footer_modules :: footer}"/>
        <div th:replace="~{js_modules :: js}"/>
        <div th:replace="~{cart_modules :: cart_modules}"/>
    <script src="../js/main.js"></script>
    </body>
</html>
