<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(Payment)}"></div>
<div th:replace="~{banner_modules :: banner}"></div>
<section class="new-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>
                       <h1> Заказать необходимую Вам продукцию в ООО «ОЛИМП ТРЭЙД» можно несколькими способами:<br></h1>

                            <H2>1. Отправить заявку на электронную почту imperiya-metizov@yandex.ru<br></H2>

                            <h2>2. Сделав заказ на данном сайте.<br></h2>

                            <h2>3. Позвонив по телефону: 8(932)601-5-888<br></h2>

                        <h1>Вашу заявку оперативно обработают наши менеждеры и выставят Вам счет для оплаты.</h1>

                </span>



            </div>
        </div>
    </div>
</section>




<div th:replace="~{footer_modules :: footer}"></div>
<div th:replace="~{js_modules :: js}"/>

</html>