<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <div th:replace="~{head_modules::head}"></div>
    <div th:replace="~{js_modules :: js}"/>

</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(Catalog)}"></div>

<section class="new-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated" th:each="subcategory: ${subcategory}">
                    <h1 th:text="${subcategory.name}"></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <ul class="breadcrumbs"  th:each="category: ${category}">
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/catalog}">Каталог</a></li>
                <li ><a th:each="subcategory: ${subcategory}" th:href="@{/showSubcategory/} + ${subcategory.category_id}" th:text="${category.name}"></a></li>
                <li th:each="subcategory: ${subcategory}" th:text="${subcategory.name}"></li>
            </ul>
            <br>
        </div>
        <span th:if="${product.size() == 0}">Данный раздел находится на обновлении. Информацию об интересующем товаре, можете уточнить у менеджеров.</span>


        <table th:if="${product.size() > 0}" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Изображение</th>
                    <th>Наименование</th>
                    <th>Цена</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="product: ${product}">
                <td>
                    <img th:each="subcategory : ${subcategory}" th:src="@{/images/} + ${subcategory.img}" class="img-responsive" width="100" height="100" alt="">
                </td>
                <td>
                    <span th:text="${product.name}"></span>
                </td>
                <td>
                    <span th:text="${product.price}"></span>
                </td>
                <td>
                    В наличии <span class="green"> <img src="/images/green.png"></span>
                </td>
                <td>
                    <a class="btn btn-success" th:href="@{'/cart/add/'} + ${product.id} + @{/} + ${subcategory.category_id} + @{/} + ${subcategory.id}">В корзину</a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</section>


<div th:replace="~{footer_modules :: footer}"></div>


</html>