<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
    <div th:replace="~{js_modules :: js}"/>

</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(Catalog)}"></div>

<section class="new-section">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated" th:each="category: ${category}">
                    <h1 th:text="${category.name}"></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <ul class="breadcrumbs"  th:each="category: ${category}"  >
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/catalog}">Каталог</a></li>
                <li ><a th:each="subcategory: ${subcategory}" th:href="@{/showSubcategory/} + ${subcategory.category_id}" th:text="${category.name}"></a></li>
                <li th:each="subcategory: ${subcategory}" th:text="${subcategory.name}"></li>
            </ul>
            <br>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 cat-2 featured-items isotope-item" th:each="product: ${product}">
            <div class="product-item">
                <img src="../../images/1.png" class="img-responsive" width="255" height="322" alt="">
                <div class="product-hover">
                    <div class="product-meta">
    <!--                    <a href="#"><i class="pe-7s-like"></i></a>-->
    <!--                    <a href="#"><i class="pe-7s-shuffle"></i></a>-->
                        <a href="#"><i class="pe-7s-cart" th:text="${product.price}"></i></a>
                        <a href="#"><i class="pe-7s-cart"></i>Добавить в корзину</a>
                    </div>
                </div>
                <div class="product-title">
                    <a th:href="@{'/showProduct/'} + ${product.id}">
                        <h3 th:text="${product.name}"></h3>
    <!--                    <span th:text="${product.price}"></span>-->
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<div th:replace="~{footer_modules :: footer}"></div>


</html>