<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
    <title th:text="${category.name}"></title>
    <meta name="description" th:content="${category.seo_description}">
</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(Catalog)}"></div>
<section class="new-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated " th:each="category: ${category}">
                    <h1 th:text="${category.name}"></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <ul class="breadcrumbs"  th:each="category: ${category}"  >
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/catalog}">Каталог</a></li>
                <li  th:text="${category.name}"></li>
            </ul>
            <br>
        </div>
        <div class="catalog wow fadeInUp" data-wow-delay="0.2s">
            <div class="product-view-wrap" th:each="subcategory: ${subcategory}">
                <div class="product-view-item">
                    <img th:src="${subcategory.img}" th:alt="${subcategory.name}">
                    <div class="product-view-buttons">
                        <a th:href="@{'/product/'} + ${subcategory.id}  + @{'/'} + ${subcategory.category_id}" class="button-view">Подробнее</a>
                    </div>
                </div>
                <div class="product-view-title">
                    <a th:href="@{'/product/'} + ${subcategory.id}  + @{'/'} + ${subcategory.category_id}" th:text="${subcategory.name}"></a>
                </div>
            </div>
        </div>
        <h3>Мы производим крепеж различных типов и размеров, из различных видов конструкционных, легированных,
            и нержавеющих сталей и сплавов: ст.3, ст.35, ст.40, ст.40х, ст.09г2с, 25Х1МФ, 20ХН3А, 20Х13, 12Х18Н10Т, 14Х17Н2, 30ХМА, 10Х17Н13М2Т, а так-же из других сплавов.</h3> <br>

        <h1>Чтобы рассчитать стоимость болтов шестигранных,<br> отправьте заявку на общую почту sales@imperiya-metizov.ru.<br>
            Обязательно укажите следующие параметры: ГОСТ либо другой стандарт(чертеж), количество необходимых изделий, материал, покрытие, другие технические требования (Шаг резьбы, класс прочности и тд.)
            Менеджер свяжется с вами для уточнения деталей заказа.</h1>
    </div>
</section>
<div th:replace="~{footer_modules :: footer}"></div>
<div th:replace="~{js_modules :: js}"/>
<script src="../js/main.js"></script>
</html>