<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
    <div th:replace="~{js_modules :: js}"/>
</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(Catalog)}"></div>
<section class="new-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated " th:each="category: ${category}">
                    <h1 th:text="${category.name}"></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <ul class="breadcrumbs"  th:each="category: ${category}"  >
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/catalog}">Каталог</a></li>
                <li  th:text="${category.name}"></li>
            </ul>
            <br>
        </div>
        <div class="row featured isotope" >
            <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item"th:each="subcategory: ${subcategory}">
                <div class="product-item" >
                    <a th:href="@{'/product/'} + ${subcategory.id}  + @{'/'} + ${subcategory.category_id} ">
                        <img th:src="@{/images/} + ${subcategory.img}" class="img-responsive" width="200" height="200" alt="">
                        <div class="product-title">
                            <h3 th:text="${subcategory.name}"></h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{footer_modules :: footer}"></div>


</html>