<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="RU">
<head>
    <div th:replace="~{head_modules::head}"></div>
    <div th:replace="~{js_modules :: js}"/>
</head>
<div th:replace="~{header_top_section :: header_top_section}"></div>
<div th:replace="~{navigation_modules :: navigation(Catalog)}"></div>
<section class="new-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section wow fadeInDown animated " th:each="subcategory : ${subcategory}">
                    <h1 th:text="${subcategory.name}"></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <ul class="breadcrumbs"  th:each="category: ${category}"  >
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/catalog}">Каталог</a></li>
                <li ><a th:each="subcategory : ${subcategory}" th:href="@{/showSubcategory/} + ${subcategory.category_id}" th:text="${category.name}"></a></li>
                <li ><a th:each="subcategory : ${subcategory}" th:href="@{/showSubcategory/} + ${subcategory.category_id}" th:text="${subcategory.name}"></a></li>
                <li th:each="product : ${product}" th:text="${product.name}"></li>
            </ul>
            <br>
        </div>
        <div class="row featured isotope" >
            <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item"th:each="product : ${product}">
                <div class="product-item">
                    <img th:each="subcategory : ${subcategory}" th:src="@{/images/} + ${subcategory.img}" class="img-responsive" width="200" height="200" alt="">
                    <h3> Наименование: </h3>
                    <h3 th:text="${product.name}"></h3>
                    <h3> Цена: </h3>
                    <h3 th:text="${product.price}"></h3>
                    <button><a href="#">Заказать</a></button>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{footer_modules :: footer}"></div>


</html>